<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="refresh" content="900" />
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="./init.js"></script>
</head>
<body>
  <div class="bg_photos">
  </div>
  <div class="overlay">
    <% tweets.statuses.forEach(function(status) { %>
    <div class="review">
      <div class="profile">
        <img src="<%= status.user.profile_image_url.replace('_normal', '') %>">
      </div>
      <div class="profile_info">
        <p><%= status.user.name %></p>
      </div>
      <div class="comment">
        <p><%= status.text %></p>
      </div>
    </div>
    <% }) %>
  </div>
</body>
</html>
