.bg_photos {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-count: 9;
   -webkit-column-gap:   0px;
   -moz-column-count:    9;
   -moz-column-gap:      0px;
   column-count:         9;
   column-gap:           0px;
}

.bg_photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  z-index: 1;
}

/*
.bg_photos img:hover {
  z-index: 2;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
}
*/

body {
  margin: 0;
  padding: 0;
}
