.bg_photos {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-count: 9;
   -webkit-column-gap:   0px;
   -moz-column-count:    9;
   -moz-column-gap:      0px;
   column-count:         9;
   column-gap:           0px;
}

.bg_photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  z-index: 1;
}

/*
.bg_photos img:hover {
  z-index: 2;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
}
*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
  z-index: 10;
}

.profile {
  width: 30%;
}
.profile img {
  width: 80%;
  padding: 10px 10px 10px 10px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

.profile_info {
  width: 70%;
  display: inline-block;
}

.review {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 1.5s ease-in-out;
}

.hidden {
  visibility: hidden;
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
